{% extends "base.html" %} {% load static %} {% block content %}

<div class="hero_in detail_page">
  {% if images %}

  <img
    src="{{ images.0.image.url }}"
    class="img-fluid w-100"
    style="height: 450px; object-fit: cover"
  />

  {% else %}

  <img
    src="{% static 'img/hero_default.jpg' %}"
    class="img-fluid w-100"
    style="height: 450px; object-fit: cover"
  />

  {% endif %}

  <div class="wrapper">
    <div class="container">
      <small>
        <a href="{% url 'home' %}" class="text-white">Home</a>
        / Tours
      </small>

      <h1>{{ tour.tour_name }}</h1>

      <span>
        <i class="icon_pin_alt"></i>
        {{ tour.location }} &nbsp;&nbsp;

        <i class="icon_clock_alt"></i>
        {{ tour.duration }}
      </span>
    </div>
  </div>
</div>

<div class="container margin_60_35">
  <div class="row">
    <!-- LEFT -->

    <div class="col-lg-8">
      <div class="box_general">
        <h3>About this Tour</h3>

        <p>{{ tour.description }}</p>
      </div>

      <div class="box_general mt-4">
        <h3>Tour Gallery</h3>

        <div class="row">
          {% for image in images %}

          <div class="col-md-4 mb-4">
            <a href="{{ image.image.url }}">
              <img
                src="{{ image.image.url }}"
                class="img-fluid rounded"
                style="height: 220px; width: 100%; object-fit: cover"
              />
            </a>
          </div>

          {% empty %}

          <div class="col-12">
            <p>No Images Available</p>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>

    <!-- RIGHT -->

    <div class="col-lg-4">
      <div class="box_booking">
        <div class="price">₹{{ tour.price }}</div>

        <hr />

        <ul>
          <li>
            <i class="icon_pin_alt"></i>

            {{ tour.location }}
          </li>

          <li>
            <i class="icon_clock_alt"></i>

            {{ tour.duration }}
          </li>

          <li>✓ Instant Confirmation</li>

          <li>✓ Best Price</li>

          <li>✓ Free Cancellation</li>
        </ul>

        <a href="#" class="btn_1 full-width purchase"> Book Now </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
