# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# DB
db.sqlite3

# Virtual environment
venv/
env/
travelenv/

# Logs
*.log

# Static & media
static_root/
media/
staticfiles/

# Ignore HTML & Documentation (requested)
html/
documentation/

# Build / Python
build/
dist/
*.egg-info/

# IDE / Editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Backup files
*.bak

# Temp files
*.tmp
