{% load static %}

<!doctype html>
<html lang="en">
  {% include "includes/head.html" %}

  <body>
    {% include "includes/header.html" %}

    <main>
      {% if messages %}

      <div class="container mt-3">
        {% for message in messages %}

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
          Swal.fire({
            icon: "{{ message.tags }}",
            title: "{{ message }}",
            showConfirmButton: true,
            confirmButtonColor: "#28a745",
          });
        </script>

        {% endfor %}
      </div>

      {% endif %} {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}

    <!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.min.js' %}"></script>
    <script src="{% static 'js/common_func.js' %}"></script>
    <script src="{% static 'assets/validate.js' %}"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
